.curiosidades-section article div {
  padding: 2rem;
  background: linear-gradient(0deg, #0001, #fff1, #2229);
  border-radius: 15px;
  box-shadow: #000a 0 5px 5px;
}
.curiosidades-section article div h3 {
  padding-left: 1rem;
  border-left: 5px solid #095;
}
.curiosidades-section article div ul {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}
.curiosidades-section article div ul li {
  gap: 1rem;
}
