.elenco-section ul {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.elenco-section ul li {
  background: linear-gradient(0deg, #0001, #fff1, #2229);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 30% 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  box-shadow: #000a 0 5px 5px;
}

.elenco-section ul li .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.elenco-section ul li .img-container {
  height: 100%;
  width: 100%;
  max-width: 150px;
  grid-column: 1 / 2;
  grid-row: 1/3;
}

.elenco-section ul li .text-container {
  padding: 0.5rem;
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

.elenco-section ul li h3 {
  font-size: 1rem;
  padding: 0 0.5rem;
  color: #ffffff;
}

.elenco-section ul li h4 {
  font-size: 0.9rem;
  color: #075;
  padding: 0 0.5rem;
}

.elenco-section ul li p {
  grid-row: 2 / 3;
  grid-column: 2/4;
  font-size: 0.9rem;
  color: white;
}

.elenco-main-section .title {
  width: 100%;
  height: 70vh;
  background: linear-gradient(0deg, #000 20%, #0000),
    url("https://breakin-bad-fanpage.vercel.app/images/poster.jpg") no-repeat;
  background-position: 50% 15%;
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 0.5rem;
}

.elenco-main-section .title h2 {
  color: #da0;
}

.elenco-main-section .title h3 {
  color: #ffffff;
}

.elenco-main-section article {
  border-radius: 10px;
  padding: 2rem 3rem;
  background: linear-gradient(#000, #fff1);
}

.elenco-main-section article h3 {
  color: #ffffff;
}

.elenco-main-section article h4 {
  color: #ffffff;
  padding-top: 0.5rem;
}

.elenco-main-section article ul {
  padding: 1rem 0;
}

.elenco-main-section article ul li p {
  color: #ffffff;
}

.elenco-main-section article ul li p span {
  color: #ffffff;
}

.elenco-main-section article ul li p .text {
  color: #ffffff;
}
