.error-section {
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-title {
  color: #da0;
  font-size: 5rem;
}

.error-subtitle {
  color: white;
  font-size: 2rem;
}

.error-text {
  color: white;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 1rem auto;
}
.error-link {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #0009;
  border-radius: 5px;
  color: #095;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 2rem;
}
.error-link:hover {
  background: linear-gradient(0deg, #0003, #4441, #0003);
  color: #0a7a4a;
  font-weight: bold;
}

