.form-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.form-group label {
  color: #095;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-group input,
.form-group textarea {
  padding: 0.8rem;
  border: 2px solid #095;
  border-radius: 8px;
  background: #0009;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #da0;
  outline: none;
  box-shadow: #da0 0 0 10px;
}

.form-submit-btn {
  background: #095;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  justify-self: center;
}

.form-submit-btn:hover {
  background: #0a7a4a;
  transform: scale(1.05);
  box-shadow: #0a7a4a 0 0 15px;
  color: white;
  /*123523564*/
}

.form-group:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.form-group:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form-group:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.form-group:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
