.season-section ul {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.season-section p {
  text-align: center;
}
.season-section ul li a {
  background: linear-gradient(0deg, #0001, #fff1, #2229);
  border-radius: 15px;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  box-shadow: #000a 0 5px 5px;
}
.season-section ul li a iframe {
  border-radius: 10px;
  width: 100%;
  border: none;
}
.season-section ul li a .text-container {
  grid-column: 2 / 4;
  padding: 0.5rem;
}
.season-section ul li a .text-container h3,
.season-section ul li a .text-container h4 {
  padding: 0 1rem;
}
.season-section ul li a .text-container h4 {
  color: #075;
}
.season-section ul li a .text-container p {
  padding: 1rem;
  text-align: left;
}
.season-main-section article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}
.season-main-section iframe {
  grid-column: 1/2;
  border: none;
}
.season-main-section div {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  gap: 0.5rem;
}
.season-episodes ul {
  padding: 2rem;
}
.season-episodes ul li p {
  color: white;
  font-weight: 300;
}
.season-episodes ul li h3 {
  font-size: 1.2rem;
  color: #075;
}
